[project]
name = "virtual-term"
version = "1.0.1"
description = "A simple Python library for creating and interacting with virtual terminals"
authors = [
    { name = "Matthew D. Scholefield", email = "matthew331199@gmail.com" },
]
dependencies = ["asyncinotify>=4.2.0"]
readme = "README.md"
requires-python = ">= 3.10"
license = { text = "MIT" }
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

[project.urls]
Homepage = "https://github.com/MatthewScholefield/virtual-term"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = [
    "pre-commit>=4.0.1",
    "pytest>=8.3.4",
    "pytest-asyncio>=0.24.0",
]

[tool.hatch.build.targets.wheel]
packages = ["src/virtual_term"]

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"
asyncio_mode = "auto"


[tool.ruff]
target-version = "py310"

[tool.ruff.lint.per-file-ignores]
"tests/**/*" = ["PLR2004", "S101", "S106"]

[tool.ruff.format]
quote-style = "single"
