# Compile PYQVARSI
#   Compile with g++ or Intel C++ Compiler
#   Compile with the most aggressive optimization setting (O3)
#   Use the most pedantic compiler settings: must compile with no warnings at all
#
# The user may override any desired internal variable by redefining it via command-line:
#   make CXX=g++ [...]
#   make OPTL=-O2 [...]
#   make FLAGS="-Wall -g" [...]
#
# Arnau Miro 2021

# Optimization, host and CPU type
#
OPTL = 2
HOST = Host
TUNE = skylake

# Options
#
VECTORIZATION    = OFF
OPENMP_PARALL    = OFF
FORCE_GCC        = OFF
DEBUGGING        = OFF
USE_COMPILED     = OFF
MODULES_COMPILED = FEM,MATH,GEOMETRY,IO,MESH,POSTPROC,SOLVERS,PERIODIC

# Python version
#
PYTHON = python3
PIP    = pip3

# Compilers
#
OVERRIDE_COMPILERS= OFF
# C Compiler
CC       = 
CFLAGS   =
# C++ Compiler
CXX      = 
CXXFLAGS = 
# Fortran Compiler
FC       = 
FFLAGS   =